@use "./../../../assets/styles/base" as *;
.not__found__container {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    @include heading-9;
    color: $typography-text-1;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .description {
    @include body-2;
    color: $typography-text-1;
    line-height: 31px;
    margin-bottom: 24px;
  }
  .button {
    width: 360px;
    margin-bottom: 16px;
  }
  svg {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .not__found__container {
    padding: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .not__found__container {
    padding: 25px 10px;
    width: 100%;
    justify-content: flex-start;
    .button {
      width: 100%;
    }
  }
}
