@use "./../../../assets/styles/base" as *;
.password_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  .header {
    display: flex;
    flex-direction: column;
    gap: 9px;
    .title {
      color: $typography-text-1;
      @include heading-7;
    }
    .description {
      color: $typography-text-3;
      @include body-2;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 396px;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 14px;
      width: 100%;
    }
  }
}
