@use "./../../../assets/styles/base" as *;
.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  label {
    @include small-2;
    color: $typography-text-1;
  }
  input {
    all: unset;
    background: $bg-3;
    border: 1px solid $bg-1;
    border-radius: 8px;
    padding: 12px;
    @include small-1;
    color: $typography-text-1;
    line-height: 28px;
    width: 100%;
    transition: all 0.3s ease;
  }
  input:hover {
    border: 1px solid $typography-text-1;
  }
  input:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px $primary-green;
    outline: none;
  }
  &.success input {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px $system-success;
    background: $transparent-primary-soft-green;
    outline: none;
  }
  &.warning input {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px $system-warning;
    background: $transparent-primary-soft-yellow;
    outline: none;
  }
  &.error input {
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px $system-danger;
    background: $transparent-primary-soft-pink;
    outline: none;
  }
  > div {
    display: flex;
    align-items: center;
    position: relative;
    .secure {
      position: absolute;
      right: 12px;
      @include small-1;
      color: $typography-text-3;
      cursor: pointer;
      width: 50px;
    }
  }
  .statusTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
  }
}
