@use "./../../assets/styles/base" as *;
.reply_review_modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($typography-text-1, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  .main_reset_page {
    width: 38.33%;
    border-radius: 15px;
    background: $bg-3;
    padding: 32px;
    position: fixed;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        @include heading-10;
        color: $typography-text-1;
      }
      img {
        cursor: pointer;
      }
    }
    .forget_form {
      padding: 26px 16px 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      width: 100%;
      > span:first-of-type {
        @include body-2;
        color: $typography-text-1;
        margin-bottom: -8px;
      }

      .top {
        display: flex;
        align-items: center;
        gap: 12px;
        span {
          color: $typography-text-1;
          @include small-1;
          line-height: 28px;
          .email {
            @include bold-small-1;
          }
        }
      }
      .bottom {
        margin-top: -15px;
        span {
          color: $typography-text-1;
          @include small-1;
          line-height: 28px;
          li {
            margin-left: 26px;
            .migros_support {
              color: $primary-green;
            }
          }
        }
      }
    }
  }
  .modal_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.isOpen {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1440px) {
  .forgetPassword_page {
    .main_reset_page {
      width: 552px;
    }
  }
}
@media only screen and (max-width: 603px) {
  .forgetPassword_page {
    .main_reset_page {
      width: 100vh;
      height: 100vh;
      border-radius: 0px;
      .header {
        padding: 26px 16px 0px;
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .forgetPassword_page {
    .main_reset_page {
      padding: 0px;
    }
  }
}
