@use "./../../assets/styles/base" as *;

.auth_layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  .fixed_container {
    width: 48.75%;
    height: 100%;
    background: $primary-green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      > img:first-child {
        padding-left: 40px;
      }
    }
    .dots-1 {
      margin-top: -8px;
      margin-right: -8px;
    }
    .middle {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      .main-heading {
        @include heading-5;
        color: $typography-text-2;
        margin: 0px 0px 300px 92px;
      }
      img {
        width: 76.35%;
        right: -20px;
        z-index: 1;
        position: absolute;
        bottom: 0px;
      }
    }
    .bottom {
      overflow: hidden;
      .dots-2 {
        margin: 0px 0px -29px -24px;
      }
    }
  }
  .outlet_container {
    width: 51.25%;
    height: 100%;
    padding: 120px 144px;
  }
}

@media only screen and (max-width: 1350px) {
  .auth_layout {
    .outlet_container {
      padding: 120px 50px;
    }
  }
}
@media only screen and (max-width: 944px) {
  .auth_layout {
    .fixed_container {
      display: none;
    }
    .outlet_container {
      width: 100%;
      padding: 120px 50px;
      > div:first-child {
        align-items: center;
        .header {
          align-items: center;
          .description {
            text-align: center;
          }
        }
        .form {
          width: 100%;
          .check_with_password {
            width: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .auth_layout {
    .outlet_container {
      padding: 20px 3%;
    }
  }
}
