// Primary Colors
$primary-green: #077777;
$primary-pink: #ef8e91;
$primary-yellow: #f3af3d;
$primary-purple: #9f7aee;

// Transparent Primary Colors
$transparent-primary-soft-green: #cde4e4;
$transparent-primary-soft-pink: #fce8e9;
$transparent-primary-soft-yellow: #feeece;
$transparent-primary-soft-purple: #ece4fc;

// System Colors
$system-success: #57B97E;
$system-danger: #EC6240;
$system-warning: #FFC200;
$system-info: #3087E9;

// Transparent System Colors
$transparent-system-success: #E1F4E8;
$transparent-system-danger: #FBE0D9;
$transparent-system-warning: #FFF3CC;
$transparent-system-info: #D6E7FB; 

// Typography Colors
$typography-text-1: #343B4A;
$typography-text-2: #FFFFFF;
$typography-text-3: #8C94A4;
$typography-text-4: #B1B7C2;

// Background Colors
$bg-1: #C2C7CF;
$bg-2: #F4F4F6;
$bg-3: #FFFFFF;
$bg-4: #F9FAFB;

$dark: #000;
$white: #fff;

// Shadow Cards
$shadow-1: 0px 23px 44px rgba(177, 183, 194, 0.141176);
$shadow-2: 0px 0px 62px rgba(177, 183, 194, 0.239216);
$shadow-3: 0px 44px 65px rgba(177, 183, 194, 0.188235);
$shadow-4: 0px 50px 77px rgba(177, 183, 194, 0.219608);

// Shadow Forms
$shadow-danger: 0px 12px 23px rgba(236, 98, 64, 0.0588235);
$shadow-primary: 0px 12px 23px rgba(74, 123, 247, 0.0588235);
$shadow-success: 0px 12px 23px rgba(104, 200, 142, 0.0588235);
$shadow-warning: 0px 12px 23px rgba(243, 175, 61, 0.0588235);