// Primary Colors
$primary-green: #077777;
$primary-pink: #ef8e91;
$primary-yellow: #f3af3d;
$primary-purple: #9f7aee;

// Transparent Primary Colors
$transparent-primary-soft-green: #cde4e4;
$transparent-primary-soft-pink: #fce8e9;
$transparent-primary-soft-yellow: #feeece;
$transparent-primary-soft-purple: #ece4fc;

// System Colors
$system-success: #57B97E;
$system-danger: #EC6240;
$system-warning: #FFC200;
$system-info: #3087E9;

// Transparent System Colors
$transparent-system-success: #E1F4E8;
$transparent-system-danger: #FBE0D9;
$transparent-system-warning: #FFF3CC;
$transparent-system-info: #D6E7FB; 

// Typography Colors
$typography-text-1: #343B4A;
$typography-text-2: #FFFFFF;
$typography-text-3: #8C94A4;
$typography-text-4: #B1B7C2;

// Background Colors
$bg-1: #C2C7CF;
$bg-2: #F4F4F6;
$bg-3: #FFFFFF;
$bg-4: #F9FAFB;

$dark: #000;
$white: #fff;

// **************************//

// 
